{% extends 'base.html' %}
 <div class="container py-5">
    <h1>
      Последние новости
    </h1>
    <article>
      {% block main %}
      {% for news in page_obj %}
        <ul>
          <li>
           Название: {{ news.title }}
          </li>
          <li>
           Содержание:  {{ news.discriptions }}
          </li>
             <ul>
          <li>
           Описание: {{ news.full_discriptions }}
          </li>
          {% if not news.type_news  in None%}
          <li>
            Тип: {{ news.type_news.name}}
            Цвет: {{news.type_news.color}}
          </li>
          {% endif %}
          <a>
            Редактировать: 
          </a>
          <a>
            Удалить: 
          </a>
        </ul>
        {%endfor%}
        {% include 'includes/paginator.html' %}
{% endblock%}
